<script>
  (function(d, s, id){
    var js, fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) {return;}
    js = d.createElement(s); js.id = id;
    js.src = "https://connect.facebook.net/en_US/sdk.js";
    fjs.parentNode.insertBefore(js, fjs);
  }(document, 'script', 'facebook-jssdk'));
</script>
<div class="login-page">
  <div class="login-box">
    <h2 class="text-center">Đăng nhập</h2>
    <% for(let i in errors){ %>
      <div class="alert alert-danger alert-dismissible">
        <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
        <%= errors[i].msg %>
      </div>
      <% } %>
      <form class="form-horizontal" method="POST" action="<%= base_url('login') %>">
        <div class="form-group">
          <label class="control-label col-sm-2" for="email">Email:</label>
          <div class="col-sm-10">
            <input type="email" class="form-control" name="email" id="email" placeholder="Enter email" value="<%= get_item(old_data, 'email') %>">
          </div>
        </div>
        <div class="form-group">
          <label class="control-label col-sm-2" for="pwd">Password:</label>
          <div class="col-sm-10">
            <input type="password" name="password" class="form-control" id="pwd" placeholder="Enter password">
          </div>
        </div>
        <div class="form-group">
          <div class="col-sm-offset-2 col-sm-10">
            <div class="checkbox">
              <label><input type="checkbox"> Remember me</label>
            </div>
          </div>
        </div>
        <div class="form-group">
          <div class="col-sm-offset-2 col-sm-10">
            <button type="submit" class="btn btn-info">Submit</button>
            hoặc
            <a href="<%= base_url('register') %>" class="btn btn-default">Đăng ký mới</a>
          </div>
          <fb:login-button 
          scope="public_profile,email"
          onlogin="checkLoginState();">
        </fb:login-button>
      </div>
    </form>
  </div>
</div>
<form method="POST" id="login_facebook_form" action="<%= base_url('login_facebook') %>">
<input name="access_token" type="hidden" id="facebook_token">
</form>
<script>
  $(document).ready(function(params) {
    window.fbAsyncInit = function() {
      FB.init({
        appId      : '2884189654927036',
        cookie     : true,
        xfbml      : true,
        version    : 'v5.0'
      });
      
      FB.AppEvents.logPageView();   

      FB.getLoginStatus(function(response) {
        statusChangeCallback(response);
      });
      
    };
  });

  function checkLoginState() {
      FB.getLoginStatus(function(response) {
        statusChangeCallback(response);
      });
    }
    
    function statusChangeCallback(response) {
      console.log(response);
      if (response.status && response.status === 'connected') {
        document.getElementById("facebook_token").value = response.authResponse.accessToken;
        document.getElementById("login_facebook_form").submit();
      }
    } 
</script>