<h1>Thông tin người dùng</h1>
<table ng-if="!detail.activeEditProfile" class="table">
    <tbody>
        <tr>
            <td>Ảnh đại diện:</td>
            <td>
                <img ng-if="detail.avatar" class="avatar-in-profile" src="{{detail.avatar}}">
                <i ng-if="!detail.avatar">- Chưa có -</i>
            </td>
        </tr>
        <tr>
            <td width="120px">tên:</td>
            <td>
                {{detail.name}}
            </td>
        </tr>
        <tr>
            <td>Email:</td>
            <td>
                {{ detail.email }}
                <i ng-if="!detail.email">- Chưa có -</i>
            </td>
        </tr>
        <tr>
            <td>Giới thiệu:</td>
            <td>
                {{ detail.introduce }}
                <i ng-if="!detail.introduce">- Chưa có -</i>
            </td>
        </tr>
    </tbody>
</table>
<div ng-if="detail.activeEditProfile">
    <table class="table">
        <tbody>
            <tr>
                <td>Ảnh đại diện:</td>
                <td>
                    <input type="file">
                </td>
            </tr>
            <tr>
                <td width="120px">tên:</td>
                <td>
                    <input type="text" ng-model="userEdit.name">
                </td>
            </tr>
            <tr>
                <td>Email:</td>
                <td>
                    <input type="text" ng-model="userEdit.email">
                </td>
            </tr>
            <tr>
                <td>Giới thiệu:</td>
                <td>
                    <textarea class="introduce-edit-profile thin-scrollbar" type="text" ng-model="userEdit.introduce"></textarea>
                </td>
            </tr>
        </tbody>
    </table>
    <button type="button" class="btn btn-info btn-sm"> Lưu</button>
    <button ng-click="detail.activeEditProfile = false" type="button" class="btn btn-default btn-sm"> Hủy</button>
</div>

<button ng-click="editProfile()" type="button" ng-if="detail.roles.editProfile && !detail.activeEditProfile" class="btn btn-info btn-sm"><i class="fa fa-edit"></i> Chỉnh sửa hồ sơ</button>
<a ng-if="detail.roles.inviteMakeFriend" href="#" class="btn btn-info btn-sm"><i class="fa fa-user-plus"></i></i> Gửi lời mời kết bạn</a>
<a ng-if="!detail.roles.hasLogin" href="#" class="btn btn-info btn-sm">Login để kết nối với bạn</a>
<style>
    .avatar-in-profile {
        width: 80px;
        height: 120px;
        object-fit: cover;
    }

    .introduce-edit-profile {
        width: 100%;
        height: 120px;
        resize: none;
        overflow-y: auto;
    }
</style>