<div ng-if="!notFound" ng-show="detail">
    <h1>{{detail.name}}</h1>
    <div>
        {{ detail.description }}
    </div>
    <alert-message></alert-message>
    <div>
        <a ng-if="detail.role.newPost" href="/group/{{id}}/new-post" class="btn btn-primary btn-block">Tạo bài post mới</a>
        <button ng-click="joinGroup(); activeJoinGroup=true;" ng-class="{disabled: activeJoinGroup}" ng-if="!detail.role.joinGroup && !detail.role.hasAskJoin" class="btn btn-primary btn-block">Tham gia nhóm</button>
        
        <div ng-if="!detail.role.joinGroup && detail.role.hasAskJoin">
            <h6 class="text-center"><i>(Bạn đã gửi yêu cầu tham gia nhóm)</i></h6>
            <button ng-click="joinGroup(); activeJoinGroup=true;" ng-class="{disabled: activeJoinGroup}" class="btn btn-primary btn-block">Hủy yêu cầu</button>
        </div>
        <div class="text-right">
            <button ng-if="detail.role.addMember" type="button" class="btn btn-link" data-toggle="modal" data-target="#addMember">
                <i class="fa fa-user-plus"></i> Add member
            </button>
            <a ng-if="detail.role.deleteGroup || detail.role.editGroup" href="/group/{{id}}/management" class="btn btn-link"><i class="fa">&#xf0ae;</i> Quản lý</a>
        </div>
    </div>
    <div ng-if="detail.role.listPost">
        <div ng-repeat="(index, post) in listPost">
            <div class="panel panel-default">
                <div ng-if="post.type === typePost('QUIZ')" ng-include="'/js/group/post/listQuiz.html'"></div>
                <div ng-if="post.type === typePost('ESSAY')" ng-include="'/js/group/post/listEssay.html'"></div>
                <div ng-if="post.type === typePost('ANNOUNCE')" ng-include="'/js/group/post/listAnnounce.html'"></div>
                <div style="padding: 15px;">
                    <h4>Bình luận</h4>
                    <div class="comment-list thin-scrollbar comment_content_post_{{ post._id }}">
                        <h6 ng-if="!post.loadingComment" class="text-center"><a ng-click="showComment(index)" href="#">Xem thêm bình luận...</a></h6>
                        <li class="text-center" ng-if="post.loadingComment"><i class="fa fa-spinner fa-spin"></i></li>
                        <h6 ng-if="!(post.comments.length > 0) && !post.loadingComment"><i>không có bình luận nào</i></h6>
                        <div class="media" ng-repeat="comment in post.comments | orderBy:'created_at'">
                            <div class="media-left">
                                <a title="{{ comment.created_at | formatDateTime }}" href="/user/{{ comment.user._id }}"><img src="{{ comment.user.avatar_path }}" class="media-object" style="width:40px; height: 30px; object-fit: cover;"></a>
                            </div>
                            <div class="media-body">
                                <h5 class="media-heading"><a title="{{ comment.created_at | formatDateTime }}" href="/user/{{ comment.user._id }}" ng-bind="comment.user.name"></a></h5>
                                <div ng-bind-html="comment.content"></div>
                            </div>
                        </div>
                    </div>
                    <h6 ng-show="post.typingCommnet"><i class="fa fa-commenting-o"></i><i> Ai đó đang gõ...</i></h6>
                    <div ng-if="post.commentBox">
                        <div class="form-group">
                            <textarea ng-keyup="typingCommentPost(post._id)" ng-model="post.commentContent" class="form-control" rows="3" style="resize: none;"></textarea>
                        </div>
                        <div class="text-right">
                            <button ng-disabled="post.sendingComment" ng-click="sendComment(index)" class="btn btn-info text-right">Gửi</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <h1 class="text-center" ng-if="loadingPost"><i class="fa fa-spinner fa-spin"></i></h1>
        <button ng-click="getPost()" class="btn btn-link btn-block">load more</button>
    </div>
    
    <div ng-if="!detail.role.listPost">
        <h3 class="text-center">Tham gia nhóm để tương tác</h3>
    </div>
    
    <div ng-if="detail.role.addMember" id="addMember" class="modal fade" role="dialog">
        <div class="modal-dialog modal-sm">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Mời thành viên</h4>
                </div>
                <div class="modal-body">
                    <textarea style="width: 100%; resize: none" rows="4" placeholder="Viết gì đó" ng-model="invite.introduce"></textarea>
                    <input ng-change="searchUser()" type="text" placeholder="Tìm kiếm" style="width: 100%;" ng-model="invite.stringFindUserInvite">
                    <form>
                        <div class="list-user-invite-group">
                            <div class="checkbox" ng-repeat="user in invite.listFindUserInvite">
                                <label><input type="checkbox" ng-change="checkSendInvite()" ng-model="user.checked">{{user.email}}</label>
                            </div>
                        </div>
                        <button ng-if="invite.canSendInvite" style="margin-top: 10px;" ng-click="inviteUserJoinGroup()" data-dismiss="modal" class="btn btn-sm btn-info">Mời</button>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
</div>
<div ng-if="notFound">
    <h1>This group not exists!</h1>
</div>