<div ng-if="!notFound" ng-show="detail">
    <h1>{{detail.name}}</h1>
    <div>
        {{ detail.description }}
    </div>
    <div ng-if="current_user">
        <a href="/group/{{id}}/new-post" class="btn btn-primary btn-block">Tạo bài post mới</a>
        <div class="text-right">
            <a href="/group/{{id}}/edit"><span class="glyphicon glyphicon-edit"></span> Edit</a>
            <a href="#" style="color: red;"><span class="glyphicon glyphicon-remove"></span> Delete</a>
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading">Panel with panel-info class</div>
        <div class="panel-body">Panel Content</div>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading">Panel with panel-info class</div>
        <div class="panel-body">Panel Content</div>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading">Panel with panel-info class</div>
        <div class="panel-body">Panel Content</div>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading">Panel with panel-info class</div>
        <div class="panel-body">Panel Content</div>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading">Panel with panel-info class</div>
        <div class="panel-body">Panel Content</div>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading">Panel with panel-info class</div>
        <div class="panel-body">Panel Content</div>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading">Panel with panel-info class</div>
        <div class="panel-body">Panel Content</div>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading">Panel with panel-info class</div>
        <div class="panel-body">Panel Content</div>
    </div>
</div>
<div ng-if="notFound">
    <h1>This group not exists!</h1>
</div>