<h1>New post</h1>
<ul class="nav nav-tabs">
    <li class="{{ type === 'exam' ? 'active' : null }}" ng-click="type = 'exam'"><a href="#">Kiểm tra</a></li>
    <li class="{{ type === 'post' ? 'active' : null }}" ng-click="type = 'post'"><a href="#">Thông báo</a></li>
</ul>
<div ng-if="type === 'exam'">
    <label class="radio-inline"><input type="radio" ng-model="exam_type" value="essay">Tự luận</label>
    <label class="radio-inline"><input type="radio" ng-model="exam_type" value="quiz">Trắc nghiệm</label>
    <div ng-if="exam_type === 'essay'">
        <div class="form-group">
            <label for="title">Tiêu đề:</label>
            <input type="text" class="form-control" id="title" autocomplete="off">
        </div>
        <div class="form-group">
            <label for="title">Nội dung:</label>
            <textarea name="content" class="form-control" id="editor1"></textarea>
        </div>
        <div class="checkbox">
            <label><input type="checkbox" ng-model="set_time">Set time</label>
        </div>
        <div ng-if="set_time" class="form-inline row" style="margin-bottom: 10px;">
            <div class="form-group col-sm-6">
              <label for="start-date">Date start:</label>
              <input type="text" class="form-control" id="start-date">
            </div>
            <div class="form-group col-sm-6">
              <label for="end-date">Date end:</label>
              <input type="text" class="form-control" id="end-date">
            </div>
            <script>
                var today = new Date();
                var dd = String(today.getDate()).padStart(2, '0');
                var mm = String(today.getMonth() + 1).padStart(2, '0'); //January is 0!
                var yyyy = today.getFullYear();

                today = dd + '/' + mm + '/' + yyyy;

                $('#start-date').datetimepicker({
                    defaultDate: today,
                    format: 'DD/MM/YYYY HH:mm',
                });

                $('#end-date').datetimepicker({
                    defaultDate: today,
                    format: 'DD/MM/YYYY HH:mm'
                });
            </script>
        </div>
        <script>
            $(document).ready(function(){
                var editor = CKEDITOR.instances['editor1'];
                if (editor) { editor.destroy(true); }
                CKEDITOR.replace('editor1');
            });        
        </script>
    </div>
    <div ng-if="exam_type === 'quiz'">
        <h1>quiz</h1>
    </div>
    <button type="button" class="btn btn-primary btn-block">Tạo bài</button>
</div>
<div ng-if="type === 'post'">
    <h1>Post</h1>
</div>