<form method="POST" ng-submit="addEssay()">
    <div class="form-group">
        <label for="title">Tiêu đề:</label>
        <p class="error-msg" ng-repeat="error in errors" ng-if="error.param == 'title'">{{error.msg}}</p>
        <input type="text" class="form-control" id="title" ng-model="essay.title" autocomplete="off">
    </div>
    <div class="form-group">
        <label for="title">Nội dung:</label>
        <p class="error-msg" ng-repeat="error in errors" ng-if="error.param == 'content'">{{error.msg}}</p>
        <textarea name="content" class="form-control" ng-model="essay.content" ck-editor></textarea>
    </div>
    <div class="checkbox">
        <label><input type="checkbox" ng-model="essay.setTime">Đặt lịch</label>
    </div>
    <div class="row" ng-if="essay.setTime">
        <div class="form-group col-md-6">
            <label for="start-date">Bắt đầu:</label>
            <input type="text" id="start-date" datetime-timezone="+0000" datetime="dd-MM-yyyy HH:mm" datetime-model="yyyy-MM-ddTHH:mm:ss" class="form-control" ng-model="essay.startDate">
            <p class="error-msg" ng-repeat="error in errors" ng-if="error.param == 'startDate'">{{error.msg}}</p>
        </div>
        <div class="form-group col-md-6">
            <label for="end-date">Kết thúc:</label>
            <input type="text" datetime="dd-MM-yyyy HH:mm" datetime-timezone="+0000" datetime-model="yyyy-MM-ddTHH:mm:ss" class="form-control" id="end-date" ng-model="essay.endDate">
            <p class="error-msg" ng-repeat="error in errors" ng-if="error.param == 'endDate'">{{error.msg}}</p>
        </div>
    </div>
    <p class="error-msg" ng-repeat="error in errors" ng-if="error.param == 'errorSelectDate'">{{error.msg}}</p>
    <button type="submit" class="btn btn-primary btn-block">Tạo bài</button>
</form>