<h1>New post</h1>
<ul class="nav nav-tabs">
    <li class="{{ type === 'exam' ? 'active' : null }}" ng-click="type = 'exam'"><a href="#">Kiểm tra</a></li>
    <li class="{{ type === 'post' ? 'active' : null }}" ng-click="type = 'post'"><a href="#">Thông báo</a></li>
</ul>
<div ng-if="type === 'exam'">
    <label class="radio-inline"><input type="radio" ng-model="exam_type" value="essay">Tự luận</label>
    <label class="radio-inline"><input type="radio" ng-model="exam_type" value="quiz">Trắc nghiệm</label>
    <div ng-if="exam_type === 'essay'">
        <div class="form-group">
            <label for="title">Tiêu đề:</label>
            <input type="text" class="form-control" id="title" autocomplete="off">
        </div>
        {{var}}
        <div class="form-group">
            <label for="title">Nội dung:</label>
            <textarea name="content" class="form-control" id="editor1"></textarea>
        </div>
        <div class="checkbox">
            <label><input type="checkbox" ng-model="set_time">Đặt lịch</label>
        </div>
        <div class="form-horizontal" ng-if="set_time">
            <div class="form-group">
                <label class="control-label col-sm-2" for="start-date">Bắt đầu:</label>
                <div class="col-sm-10 form-inline">
                    <input type="datetime-local" class="form-control" id="start-date">
                    <my-customer ng-model="var" ></my-customer>
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-sm-2" for="end-date">Kết thúc:</label>
                <div class="col-sm-10 form-inline">
                    <input type="text" class="form-control" id="end-date">
                    <input type="text" class="form-control" id="end-time" style="width: 100px">
                </div>
            </div>
            <p>{{ var }}</p>
            <script>
                /* $('#start-date').datetimepicker({
                    format: 'DD/MM/YYYY',
                    minDate: new Date()
                });
                $('#end-date').datetimepicker({
                    format: 'DD/MM/YYYY',
                    minDate: new Date()
                });
                $('#start-time').datetimepicker({
                    format: 'HH:mm',
                });
                $('#end-time').datetimepicker({
                    format: 'HH:mm',
                }); */
            </script>
        </div>
        <script>
            $(document).ready(function(){
                var editor = CKEDITOR.instances['editor1'];
                if (editor) { editor.destroy(true); }
                CKEDITOR.replace('editor1');
            });        
        </script>
    </div>
    <div ng-if="exam_type === 'quiz'">
        <h1>quiz</h1>
    </div>
    <button type="button" class="btn btn-primary btn-block">Tạo bài</button>
</div>
<div ng-if="type === 'post'">
    <h1>Post</h1>
</div>