h1 {
    font-size: 100px;
}

.error-msg {
    color: red;
}

@keyframes show {
    from {
        opacity: 1;
    } to {
        opacity: 0;
    }
}

.animation {
    transition: all linear 0.5s;
}

.ng-hide {
    height: 0;
}