h1 {
    font-size: 100px;
}

.error-msg {
    color: red;
}

@keyframes show {
    from {
        opacity: 1;
    } to {
        opacity: 0;
    }
}

.animation {
    transition: all linear 0.5s;
}

.ng-hide {
    height: 0;
}

.login-page, .register-page {
    position: fixed;
    width: 100%;
    height: 100vh;
    z-index: 10;
    left: 0px;
    top: 0px;
    background-color: rgb(172, 172, 172);
}

.login-box, .register-box {
    padding: 20px;
    background-color: white;
    max-width: 500px;
    margin: auto;
    margin-top: 50px;
}