<div ng-if="show">
    <div style="border: 1px solid #ccc; padding: 10px;" class="comment-list thin-scrollbar comment_content_post_{{ post._id }}">
        <h6 ng-if="!post.loadingComment" class="text-center"><a ng-click="showComment()" href="#">Xem thêm bình luận...</a></h6>
        <li class="text-center" ng-if="post.loadingComment"><i class="fa fa-spinner fa-spin"></i></li>
        <h6 ng-if="!(post.comments.length > 0) && !post.loadingComment"><i>không có bình luận nào</i></h6>
        <div class="media" ng-repeat="comment in post.comments | orderBy:'created_at'">
            <div class="media-left">
                <a title="{{ comment.created_at | formatDateTime }}" href="/user/{{ comment.user._id }}"><img src="{{ comment.user.avatar_path }}" class="media-object" style="width:40px; height: 40px; object-fit: cover;"></a>
            </div>
            <div class="media-body">
                <h5 class="media-heading"><a title="{{ comment.created_at | formatDateTime }}" href="/user/{{ comment.user._id }}" ng-bind="comment.user.name"></a></h5>
                <div ng-bind-html="comment.content"></div>
            </div>
        </div>
    </div>
    <h6 ng-show="post.typingCommnet"><i class="fa fa-commenting-o"></i><i> Ai đó đang gõ...</i></h6>
    <div style="margin-top: 10px">
        <div class="form-group">
            <textarea ng-keyup="typingCommentPost()" ng-model="post.commentContent" class="form-control" rows="3" style="resize: none;"></textarea>
        </div>
        <div class="text-right">
            <button ng-disabled="post.sendingComment" ng-click="sendComment()" class="btn btn-info text-right">Gửi</button>
        </div>
    </div>
</div>