<div class="panel-heading" style="position: relative; padding-right: 70px;">
    <a href="/user/{{ post.user_created._id }}">{{ post.user_created.name }}</a> <a style="color: rgb(51, 51, 51)" href="/essay/{{post._id}}"> đã tạo bài thi viết {{ post.start_at | timeChatBox }}</a>
    <a class="btn btn-info btn-xs" href="/essay/{{post._id}}">Chi tiết <i class='fa fa-share'></i></a>
    <a ng-if="post.role.doEssay" href="/essay/{{post._id}}/do" class="btn btn-success btn-sm do-exam">Làm bài <i class='fa fa-angle-double-right'></i></a>
    <a ng-if="post.role.setNotify" href="#" class="btn btn-success btn-sm set-notify-btn">Thông báo <i class="fa fa-bell"></i></a>
</div>
<div class="panel-body" ng-init="post.numLimit = post.content.length > 1000 ? 1000 : null; post.more = post.content.length < 1000;">
    <h3><strong>{{ post.title }}</strong></h3>
    <div class="content-post-group" ng-bind-html="post.content | limitTo:post.numLimit"></div>
    <button ng-if="!post.more" ng-click="post.numLimit = null; post.more = true;" class="btn btn-link btn-block"><i class="material-icons">more_horiz</i></button>
</div>