<div class="panel-heading" style="position: relative; padding-right: 70px;">
    {{ post.user_created.name }} đã tạo bài thi trắc nghiệm. {{ post.start_at | timeChatBox }}
    <a ng-if="post.role.doQuiz" href="#" class="btn btn-success btn-sm do-exam">Làm bài <i class='fa fa-angle-double-right'></i></a>
    <a ng-if="post.role.setNotify" href="#" class="btn btn-success btn-sm set-notify-btn">Đặt lịch <i class="fa fa-bell"></i></a>
</div>
<div class="panel-body" ng-init="post.numLimit = post.content.length > 1000 ? 1000 : null; post.more = post.content.length < 1000;">
    <h3><strong>{{ post.title }}</strong></h3>
    <div class="content-post-group" ng-bind-html="post.content | limitTo:post.numLimit"></div>
    <button ng-if="!post.more" ng-click="post.numLimit = null; post.more = true;" class="btn btn-link btn-block"><i class="material-icons">more_horiz</i></button>
</div>