<div class="panel-heading">{{ post.user_created.name }} có một bài viết.</div>
<div class="panel-body" ng-init="post.numLimit = post.content.length > 1000 ? 1000 : null; post.more = post.content.length < 1000;">
    <h3><strong>{{ post.title }}</strong></h3>
    <div style="position: relative;" ng-init="checkReduce(index)">
        <div id="content_post_group_{{post._id}}" class="content-essay" ng-class="{'content-post-reduce': post.reduce}" class="content-post-group" bind-html="post.content"></div>
        <h5 ng-click="post.reduce = false" ng-if="post.reduce" class="text-center content-post-reduce-more"><a href="#" class="">Xem thêm</a></h5>
        <h5 ng-if="!post.reduce && !loadingPost && post.reduceBack" class="text-center"><a ng-click="post.reduce = true" href="#" class="">Ẩn bớt</a></h5>
    </div>
</div>