<div class="panel panel-default" ng-init="data.numLimit = data.content.length > 1000 ? 1000 : null; data.activeReadMore = data.content.length <= 1000">
    <div class="panel-heading"><a href="/post/{{data._id}}" class="header-link"><i class="fa fa-newspaper-o" style="font-size:24px"></i>&nbsp;&nbsp; {{data.title}}</a></div>
    <div class="panel-body" data-dd-collapse-text="100" ng-bind-html="data.content | limitTo:data.numLimit"></div>
    <h6 class="text-center"><a href="#" ng-if="!data.activeReadMore" ng-click="data.numLimit = null; data.activeReadMore = true;">Read more</a></h6>
</div>