<!-- add mini-chat-box class to drop to mini box -->
<!-- add hide-chat-box class to hide box -->
<div class="chat-box hide-chat-box">
    <div class="chat-box-header">
    <img class="avatar" src="http://thuthuat123.com/uploads/2018/01/27/Avatar-dep-nhat-86_112148.jpg">
    <a class="user" href="">user 1 dfxcvxcv dxfxcvxcv ddxvxcvx</a><i class="close-icon fa fa-close"></i></div>
    <div class="content-chat">
        <div class="input-area">
            <div contenteditable="true" class="text-input"></div><button class="send-btn">send</button>
        </div>
    </div>
</div>